.comments {
  display: flex;
  flex-direction: column;
}
.comment-edit-box {
  display: grid;
  justify-items: baseline;
  width: 100%;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;

  grid-template-rows: 2.5rem 1fr 2.5rem;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "title title"
    "text-content text-content"
    "rate delete-edit";

  &__text-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-area: text-content;
    width: 100%;
  }

  &__text-input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: $color-light-gray;
    border-radius: 0.5rem;
    resize: none;
    grid-area: text-input;
    color: $color-dark-blue;
  }
}
.comment-box {
  display: grid;
  justify-items: baseline;
  width: 100%;
  // gap: 1.5rem;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 0.5rem;

  grid-template-rows: 2.5rem 1fr 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "text-content text-content"
    "rate reply";

  &__text-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__edit-update-btn {
    text-align: center;
    width: 6.5rem;
    height: fit-content;
    margin-left: auto;
    background-color: $color-moderate-blue;
    color: $color-white;
    font-weight: $font-weight-semi-bold;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;
    grid-area: delete-edit;
    cursor: pointer;

    &:hover {
      filter: opacity(60%);
    }
  }

  &--admin {
    grid-column: 2/3;
  }

  &--reply {
    grid-column: 2/3;
  }

  &__title {
    display: flex;
    align-items: center;
    // gap: 1rem;
    grid-area: title;

    a {
      color: $color-dark-blue;
      font-weight: $font-weight-semi-bold;
    }
  }

  &:not(:first-child),
  &--reply:not(:first-child) {
    margin-top: 1rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__user-img-wrap {
    width: 2rem;
    height: 2rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__you-badge {
    color: $color-white;
    font-size: 0.8em;
    font-weight: $font-weight-semi-bold;
    line-height: 1.2;
    padding: 0.2rem 0.5rem;
    background-color: $color-moderate-blue;
    border-radius: 3px;
    margin-left: 0.5rem;
  }

  &__time-ago {
    color: $color-grayish-blue;
    margin-left: 1rem;
  }
  &__text-content {
    color: $color-grayish-blue;
    grid-area: text-content;

    p {
      line-height: 1.5;
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    align-self: flex-start;
    // justify-content: space-between;
    gap: 0.4rem;
    background-color: $color-very-light-gray;
    border-radius: 0.6rem;
    grid-area: rate;

    &--plus-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.8rem;

      &--plus {
        transform: translateY(-0.5px);
      }
    }

    &--plus-wrap:hover img,
    &--minus-wrap:hover img {
      filter: invert(32%) sepia(66%) saturate(1000%) hue-rotate(205deg)
        brightness(70%) contrast(90%);
    }
    &--minus-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.8rem;
    }

    span {
      text-align: center;
      width: 1rem;
      color: $color-moderate-blue;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__cur-user-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
  }

  &__delete {
    cursor: pointer;
    color: $color-soft-red;
    font-weight: $font-weight-semi-bold;
    &:hover {
      filter: opacity(60%);
    }
  }

  &__edit-btn {
    cursor: pointer;
    color: $color-moderate-blue;
    font-weight: $font-weight-semi-bold;
    &:hover {
      filter: opacity(60%);
    }
  }

  &__reply {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    grid-area: reply;
    margin-left: auto;

    span {
      color: $color-moderate-blue;
      font-weight: $font-weight-semi-bold;
    }
    img {
    }

    &:hover {
      filter: brightness(210%);
    }
  }
}

@media (min-width: 56.25em) {
  .comment-box {
    padding: 1.5rem 1.5rem;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 2.5rem auto auto;
    grid-template-areas:
      "rate title reply"
      "rate text-content text-content";

    &__title {
      margin-left: 1.5rem;
    }

    &__text-content {
      margin-top: 1rem;
      margin-left: 1.5rem;
    }
    &__rate {
      flex-direction: column;
      // margin-right: 1.5rem;

      span {
        width: auto;
      }

      &--plus {
        transform: none;
      }
      &--minus {
        transform: translateX(0.5px);
      }

      &--plus-wrap,
      &--minus-wrap {
        display: flex;
        justify-content: center;
        width: 2.5rem;
        height: 2rem;
        padding: 0;
      }
    }
  }
  .comment-edit-box {
    padding: 1.5rem 1.5rem;
    grid-template-rows: 2.5rem 1fr 1fr;
    grid-template-columns: 2.5rem 1fr max-content;
    grid-template-areas:
      "rate title update"
      "rate text-content update"
      "rate text-content update";

    &__text-content {
      grid-column: 2/6;
      width: calc(100% - 1.5rem);
      margin-left: 1.5rem;

      &__text-input {
        width: 100%;
      }
    }
    &__edit-update-btn {
      grid-area: update;
    }
  }
}
